body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

header {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 1rem;
}

.content-division  * {
    margin: 1rem;
}

.content-division i{
    margin-top: 0rem;
}

.content-division img {
    margin-bottom: 0rem;
}

.content-division, .menu-division, 
.contact-division {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

/*
.menu-division, .contact-division {
    justify-content: flex-start;
}
*/
.burger-picture {
    display: block;
    width: 300px;
    height: 300px;
    border-radius: 1rem;
}